
<app-add-edit-catg></app-add-edit-catg>

<!--
<nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button (click)="GetById()" class="m-1 btn btn-light btn-outline-primary" Button>Get By Id</button>
      </li>
      <li class="nav-item">
        <button (click)="Create()" class="m-1 btn btn-light btn-outline-primary" Button>Create</button>
      </li>
      <li class="nav-item">
        <button  (click)="Update()" class="m-1 btn btn-light btn-outline-primary" Button>Update</button>
      </li>
      <li class="nav-item">
        <button (click)="List()" class="m-1 btn btn-light btn-outline-primary" Button>List</button>
      </li>
      <li class="nav-item">
        <button (click)="GetList()" class="m-1 btn btn-light btn-outline-primary" Button>Get List</button>
      </li>
      <li class="nav-item">
        <button (click)="Delete()" class="m-1 btn btn-light btn-outline-primary" Button>Delete</button>
      </li>
    </ul>

  </nav> -->

