<div class="input-group input-group-sm mb-3">
    <span  class="space-width2"></span>
    <button type="button" class="pull-right btn btn-danger" aria-label="close"  (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="col-sm-2"></div>
    <span class="space-width"></span>
    <input type="text" class="form-control inputbox" style="background-color: rgb(233, 206, 206); color: rgb(15, 11, 11); " #orderid  aria-label="small"  aria-describedby="inputGroup-sizing-sm"
    placeholder="Enter ORder Entry ID"    >
    <span class="sapce-width"></span>
    <button type="button" class="btn btn-primary"  style="border-radius: 15px; margin: 1px auto; display: block; width: 100px;" (click)="OnInput(orderid.value)">Submit</button>
</div>
<table class="table table-hover" *ngIf="showResult">
    <thead>
        <tr>
            <th>CurrentPageSize</th>
            <th>PageNo</th>
            <th>Message</th>
            <th>RequestName</th>
            <th>Token</th>
            <th>TotalCount</th>
            <th>IsError</th>
            <th>HasMoreRecords</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{orderEntryList.currentPageSize}}</td>
            <td>{{orderEntryList.pageNo}}</td>
            <td>{{orderEntryList.message}}</td>
            <td>{{orderEntryList.requestName}}</td>
            <td>{{orderEntryList.token}}</td>
            <td>{{orderEntryList.totalCount}}</td>
            <td>{{orderEntryList.isError}}</td>
            <td>{{orderEntryList.hasMoreRecords}}</td>
        </tr>
    </tbody>
</table>
<table class="table table-hover" *ngIf="showResult">
    <thead>
        <tr>
            <th>Cost</th>
            <th>Store Id</th>
            <th>ID</th>
            <th>Order ID</th>
            <th>Item ID</th>
            <th>Full Price</th>
            <th>Price Source</th>
            <th>Price</th>
            <th>QuantityOnOrder</th>
            <th>salesRepId</th>
            <th>Taxable</th>
            <th>detail ID </th>
            <th>Description</th>
            <th>QuantityRtd</th>
            <th>Last Updated</th>
            <th>Comment</th>
            <th>discountReasonCodeId</th>
            <th>ReturnReasonCodeId</th>
            <th>TaxChangeReasonCodeId</th>
            <th>transactionTime</th>
            <th>isAddMoney</th>
            <th>VoucherID</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngIf="orderEntryList && orderEntryList.result">
            <td>{{orderEntryList.result.cost}}</td>
            <td>{{orderEntryList.result.storeId}}</td>
            <td>{{orderEntryList.result.id}}</td>
            <td>{{orderEntryList.result.orderid}}</td>
            <td>{{orderEntryList.result.itemId}}</td>
            <td>{{orderEntryList.result.fullPrice}}</td>
            <td>{{orderEntryList.result.priceSource}}</td>
            <td>{{orderEntryList.result.price}}</td>
            <td>{{orderEntryList.result.quantityonOrder}}</td>
            <td>{{orderEntryList.result.salesRepId}}</td>
            <td>{{orderEntryList.result.taxable}}</td>
            <td>{{orderEntryList.result.detailId}}</td>
            <td>{{orderEntryList.result.description}}</td>
            <td>{{orderEntryList.result.quantityRtd}}</td>
            <td>{{orderEntryList.result.lastUpdated}}</td>
            <td>{{orderEntryList.result.comment}}</td>
            <td>{{orderEntryList.result.discountReasonCodeId}}</td>
            <td>{{orderEntryList.result.TaxChangeReasonCodeId}}</td>
            <td>{{orderEntryList.result.transactionTime}}</td>
            <td>{{orderEntryList.result.isAddMoney}}</td>
            <td>{{orderEntryList.result.voucherId}}</td>
        </tr>
    </tbody>
</table>

