<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>
<div *ngIf="showAlert">
    <h3>{{showAlertMessage}}</h3>
</div>
<form  style="border:teal; border-width:1px; border-style:solid; border-radius: 3px; size: inherit;" [formGroup]="Category_create_Form" (ngSubmit)="onCreateSubmit()" >
    <div  class="panel panel-primary " >
        <div style="background-color: blueviolet; text-align: center; height: 40px;" class="panel-heading">
            <h3 class="panel-title" style="color: whitesmoke;">Create Category</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="Name">Name</label>
                <div class="col-sm-8">
                    <input style="border-width: 2px;" id="name" formControlName="Name" type="text" class="form-control" placeholder="Enter Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="Hqid">Hqid</label>
                <div class="col-sm-8">
                    <input  style="border-width: 2px;" id="hqid" formControlName="Hqid" type="text" class="form-control" placeholder="Enter Hqid">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="Code">Code</label>
                <div class="col-sm-8">
                    <input  style="border-width: 2px;" id="code" formControlName="Code" type="text" class="form-control" placeholder="Enter Code">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="DepartmentId">DepartmentId</label>
                <div class="col-sm-8">
                    <input  style="border-width: 2px;" id="code" formControlName="DepartmentId" type="text" class="form-control" placeholder="Enter Department ID">
                </div>
            </div>

            <!-- <div class="form-group ">
               <label class="col-sm-2 control-label" for="DepartmentId">Gender</label>
               <span class="space-width"></span>
                <div class="form-control col-sm-4 " style="border-width: 2px;">

                   <label class="radio-inline">

                        <input   value=" Male " name="Gender" formControlName="Gender" type="radio">Male

                   </label>

                   <label class="radio-inline">

                        <input   value=" Female" name="Gender" formControlName="Gender" type="radio">FeMale
                   </label>
                </div>
            </div> -->
        </div>
        <span class="space-width2"></span>
        <div class="panel-footer">
            <button style=" border-radius: 15px;margin: 2px auto; display: block;width: 100px;" class="btn btn-primary" type="submit" >Create</button>
            <button style=" border-radius: 15px;margin: 2px auto; display: block;width: 100px;" class="btn btn-danger" type="submit"  (click)="closeClick()">Close</button>
        </div>
    </div>

</form>

